# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.idea
/.vscode

# built ts files
dist/**/*

# ignore lock
yarn.lock
package-lock

# logs
*.log